
@{
    ViewBag.Title = "GetByCarYear";
}

<h2>GetByCarYear</h2>

<table class="table table-bordered table-striped">
    <!--onload="~/Home/Draw/"-->
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>

    </tr>
    @for (int i = 0; i < ViewBag.Cars.Count; i++)
    {
        var Car = ViewBag.Cars[i];
        <tr>
            <td>
                @Car["Make"]
            </td>
            <td>
                @Car["Model"]
            </td>
            <td>
                @Car["Year"]
            </td>
            <td>
                @Car["Color"]
            </td>
        </tr>
    }
</table>

<a href="~/Home/Index">Wanna do another Search?</a>